body{
    background-color: rgb(57, 59, 61);
    display: flex;
    flex: content;
    align-items: center;
    justify-content: center;
}

h1{
    color: rgb(146, 208, 235);
}

button{
    background-color: rgb(99, 144, 221);
}